<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="On" defaultRedirect="ErrorPage.aspx">
      <!--<error statusCode="404" redirect="ErrorPage.aspx"/>-->
    </customErrors>
	</system.web>
  <connectionStrings>
    <add name="StayHubDBConnection" connectionString="Data Source=LAPTOP-EHQ09PN3\SQLEXPRESS;Initial Catalog=StayHubDB;Integrated Security=True"
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>
